// Styling for the timeline section
#timeline{
  padding: 0;
}
.timeline {
  position: relative;
  padding: 10px 0 0 0;
  margin: 0 0 -29px 0;
  list-style: none;
  &:before {
    position: absolute;
    width: 1px;
    content: url("/assets/img/timeline/vine.png");
    transform: scale(.28);
    top: -120px;
    left: -20%;
    bottom: 300%;
    repeat: no-repeat;
    // background-color: $gray-200;
  }
  > li {
    position: relative;
    min-height: 50px;
    margin: 0 0 -64px 0;
    padding: 0 0 40px 0;
    &:after,
    &:before {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
    .timeline-panel {
      font-size: 12px;
      position: relative;
      float: right;
      width: 100%;
      padding: 0 100px 50px 100px;
      margin: 0 0 0 -10px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 5px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: left;
      color: $white;
      border: 7px solid $gray-200;
      border-radius: 100%;
      background-color: $primary;
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 100px 50px 100px;
      margin: 0 0 0 -100px;
      text-align: centlefter;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .timeline-heading {
    h4 {
      margin-top: 0;
      color: inherit;
      &.subheading {
        text-transform: none;
      }
    }
  }
  .timeline-body {
    > ul,
    > p {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .timeline {
    padding: 90px 0 0 0;
    margin: 0 0 -135px 0;
    > li {
      min-height: 100px;
      margin: 0 0 -94px 0;
      padding: 0 0 210px 0;
      .timeline-panel {
        float: left;
        width: 41%;
        font-size: 11.5px;
        text-align: right;
        padding: 0 0 30px 0;
        margin: 0 0 0 -95px;
        text-align: right;
      }
      .timeline-image {
        left: 50%;
        width: 109px;
        height: 109px;
        padding: 0 0 20px 0;
        margin: 0 0 0 -140px;
      }
      &.timeline-inverted > .timeline-image {
        width: 109px;
        height: 109px;
        margin: 0 0 70px 50px;
        padding: 0 0 15px 0;
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        font-size: 11.5px;
        text-align: left;
        padding: 0 0 30px 0;
        margin: 0 -105px 0 0;
      }
    }
    &:before {
      left: 32%;
      top: 0%;
      bottom: 100%;
      transform: scale(.34);
      content: url("/assets/img/timeline/vine.png");
    }
  }
}
@media (min-width: 992px) {
  .timeline {
    padding: 150px 0 0 0;
    margin: 0 0 -63px 0;
    > li {
      min-height: 170px;
      margin: 0 0 -64px 0;
      padding: 0 0 210px 0;
      .timeline-panel {
        font-size: 13.5px;
        text-align: right;
        padding: 0 0 30px 0;
        margin: 0 0 0 -55px;
      }
      .timeline-image {
        width: 112px;
        height: 112px;
        padding: 0 0 30px 0;
        margin: 0 0 0 -120px;
      }
      &.timeline-inverted > .timeline-image {
        width: 112px;
        height: 112px;
        margin: 0 0 70px 70px;
        padding: 0 0 30px 0;
      }
      &.timeline-inverted > .timeline-panel {
        font-size: 13.5px;
        text-align: left;
        padding: 0 0 30px 0;
        margin: 0 -120px 0 0;
      }
    }
    &:before {
      left: 37%;
      top: 0%;
      bottom: 100%;
      transform: scale(.40);
      content: url("/assets/img/timeline/vine.png");
    }
  }
}
@media (min-width: 1200px) {
  .timeline {
    padding: 150px 0 0 0;
    margin: 0 0 -40px 0;
    > li {
      min-height: 170px;
      margin: 0 0 -64px 0;
      padding: 0 0 210px 0;
      .timeline-panel {
        font-size: 16px;
        text-align: right;
        padding: 0 0 30px 0;
        margin: 0 0 0 -75px;
      }
      .timeline-image {
        width: 115px;
        height: 115px;
        padding: 0 0 30px 0;
        margin: 0 0 0 -140px;
      }
      &.timeline-inverted > .timeline-image {
        width: 115px;
        height: 115px;
        margin: 0 0 70px 70px;
        padding: 0 0 30px 0;
      }
      &.timeline-inverted > .timeline-panel {
        font-size: 16px;
        text-align: left;
        padding: 0 0 30px 0;
        margin: 0 -120px 0 0;
      }
    }
    &:before {
      left: 37%;
      top: 0%;
      bottom: 100%;
      transform: scale(.43);
      content: url("/assets/img/timeline/vine.png");
    }
  }
}
